html{
    height: 100%;
}
body{
    display: grid;
    grid-template: 150px 1fr/200px 1fr;
    margin: 0;
    height: 100%;
}

header{
    grid-area: 1/2/2/3;
    z-index: 1000;
    display: grid;
    grid-template: 30% 70%/60% 40%;
}
content{
    background-color: rgb(218, 218, 218);
}
.search{
    display: flex;
    grid-area: 1/1/2/3;
    background-color: red;
    font-size: 10px;

    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

}
.search-box{
    display: flex;
    height: 25px;
}
.search-box > input{
    width: 300px;
}
.input-name{
    display: flex;
    align-items: center;
    height: 25px;
}
.searchbar{
    background-color: rgb(218, 218, 218);
    border: none;
    border-radius: 10px;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 50px;
}
.introduction>p{
    font-size: 15px;
    margin: 0;
}
.introduction>h1{
    font-size: 20px;
    margin: 0;
}
.sidebar{
    grid-area: 1/1/3/2; 
    background-color: rgb(0, 150, 255);
    color:white;
}
.btn-grp{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    padding-right: 50px;
}

.main-content{
    display: grid;
    grid-template: 50% 50%/65% 35% ;
}

.first-container{
    grid-row: 1/3;
    background-color: aqua;
    display: grid;
    grid-template-rows: 5% 95%;
}
.second-container{
    padding: 10px;
}

.third-container{
    padding: 10px;  
}

.container-content{
    background-color: white;
    padding:10px;
    border-radius:5px;
    height:400px
}
.description{
    display: flex;
    align-items: center; 
}
.proj{
    background-color: pink;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.box-content{
    background-color: rgb(236, 229, 229);
    padding:10px;
}
.btn-grp>button{
    background-color: #4c90af; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer
}